
<div class="container">
  <div class="jumbotron">
    <h1 id="crm">Customer Relationship Management</h1>

    <h2></h2>
    <% _.each(_.keys(sails.controllers), function(controller) { %>

    <a href="/<%= controller %>" class="btn btn-lg btn-success spar-list"><%= controller %></a>

    <% }) %>

  </div>
</div>