<h3>Contact History Listing</h3>

<table class='table table-hover table-condensed'>
<thead>
  <tr>
    <th>Customer</th>
    <th>Agent</th>
    <th>Data</th>

    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="item in results.items">
    <td>{{ formatName(item.customer) }}</td>
    <td>{{ formatName(item.agent) }}</td>
    <td>{{ item.data }}</td>

    <td><a href="#/ContactHistory/{{item.id}}" class="btn btn-primary btn-sm">Edit</a></td>
    <td><a href="" class="btn btn-danger btn-sm" ng-click="delete(item)">Delete</a></td>
  </tr>
</tbody>
</table>

<div style="text-align: center">
  <a ng-show="results.meta.prevUri" href="" ng-click="setPage(page-1)">Previous</a>
  -- Page {{page}} --
  <a ng-show="results.meta.nextUri" href="" ng-click="setPage(page+1)">Next</a>
</div>

<a href="#/ContactHistory/0" class="btn btn-success btn-sm" role="button">New Contact History Item</a> |
<a href="#/">Back</a>