<form action="/customer/create" method="POST" role="form" class="new">
  <div class="form-group">
    <h2>Create a customer</h2>

    <% if(flash && flash.err) { %>
      <ul class="alert alert-success">
        <% Object.keys(flash.err).forEach(function(error) { %>
          <li><%- JSON.stringify(flash.err[error]) %></li>
        <% }) %>
      </ul>
    <% } %>

    <div class="control-group" style = "width: 300px;">
      <input type="text" class="form-control" placeholder="firstName" name="firstName">
    </div>

    <div class="control-group" style = "width: 300px;">
      <input type="text" class="form-control" placeholder="lastName" name="lastName">
    </div>

    <div class="control-group" style = "width: 300px;">
      <input type="text" class="form-control" placeholder="email" name="email">
    </div>

    <div class="control-group" style = "width: 300px;">
      <input type="text" class="form-control" placeholder="phone" name="phone">
    </div>

    <div class="form-group" style="width: 400px;">
      <label>agent</label>

      <div>
        <select name="agent" class="form-control">
          <% for(var i=0; i<agents.length; i++) {%>
          <option value="<%= agents[i].id %>" ><%= agents[i].firstName + ' ' + agents[i].lastName %></option>
          <% } %>
        </select>
      </div>

    </div>

  </div>
  <input type="submit" value="Submit" class="btn btn-default"/> | 
  <a href="/customer">Back to list</a>
</form>
